/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require_tree .
 *= require_self
 */
@import 'carendar'

.school-calendar
  +carendar(33px*24, 60px, 5)
  height: 400px
  overflow-y: scroll
  font-size: 10pt
  &.week
    .day
      .items
        border-left: 1px solid #EEE
        background: image-url('week-hour-mark.gif') repeat

  .item
    background-color: #EEE
    font-size: 8pt
    z-index: 5
    &:hover
      z-index: 10
      box-shadow: 3px 3px 5px #AAA
    &.important
      background-color: #FEE

  &.month
    .day
      border: 1px solid #AAA
      border-width: 0 0 1px 1px
      
  &.month .day .items .item
    &:hover
      position: absolute
      width: 100px
      height: 30px
      border-radius: 0
      > .title
        display: block
